/*This is the main stylesheet for if scripts are enabled*/

@mixin reset {
  margin:0;
  padding:0;
}

@mixin center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  @include reset;
}

#bg {
  height: 100vh;
  width:100%;
  background: grey url('../../images/bg.jpg') no-repeat fixed center;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -2;
  @include reset;
  transform: scale(1.0);

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before{
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#header {
  height: 70vh;
  width: 80vw;
  color: white;
  @include center;
}
